@model IEnumerable<StoreWebUI.Models.ProductVM>
@{int i = 0; }
@{ ViewData["Title"] = "Edit"; }

<h1>Order</h1>

<h4>Select Items</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LineItems">
            @foreach (ProductVM item in Model)
            {
                string itemName = "itemName" + i;
<div class="form-group">
    <label class="control-label">@ViewData[itemName].ToString()</label>
    <input name="@ViewData[itemName]" class="form-control" id="@ViewData[itemName]" />
    <span class="text-danger"></span>
</div>                i++;
            }
            <div class="form-group">
                <input type="submit" value="Checkout" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

