@model StoreWebUI.Models.InventoryVM
@{
    ViewData["Title"] = "Create";
}
<h1>Create New Inventory</h1>

<h4>Inventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocationID" class="control-label"></label>
                @Html.DropDownListFor(loca => loca.LocationID , new SelectList(ViewData["locations"] as IList<string>), "Select Location", new { @class = "form-control"})
                <span asp-validation-for="LocationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductID" class="control-label"></label>
                @Html.DropDownListFor(prod => prod.ProductID, new SelectList(ViewData["products"] as IList<string>), "Select Product", new { @class = "form-control" })
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

